#header { overflow: visible !important; }

/* Panes */
.pane-content h1 { margin: 0 0 0.5em; }
#center-pane .pane-content h1 { margin: 0; }

/* Rows */
.kpaf-row { clear: both; }
.kpaf-row label { display: block; }
.kpaf-row.label-right label { display: block; float: right; margin-left: 10px; line-height: 2em; max-width: 425px; }
.kpaf-row.left-indent { margin-left: 180px; max-width: 425px; }

/* Grid */
.k-filter-menu 
{
    height: auto;
}

.k-pane div.k-grid-header, div.k-grid-footer {
	padding-right: 0 !important;
}

.k-grid-content {
	min-height: 100px;
	overflow-y: auto;
}

.k-grid.max-height-200 .k-grid-content {
	max-height: 200px;
}

.k-grid.max-height-250 .k-grid-content {
	max-height: 250px;
}

.k-grid.max-height-300 .k-grid-content {
	max-height: 300px;
}

.k-grid.max-height-350 .k-grid-content {
	max-height: 350px;
}

.k-grid.max-height-400 .k-grid-content {
	max-height: 400px;
}

.k-grid.scroll-y .k-grid-content {
	overflow-y: scroll;
}

.k-edit-form-container {
	width: 540px;
	padding-left: 20px;
	padding-right: 20px;
}

.k-grid .k-grid-content td.k-detail-cell {
	padding-bottom: 20px;
}

/* Grid Detail */
.k-grid .k-grid-content .k-detail-cell h1,
.k-grid .k-grid-content .k-detail-cell h2,
.k-grid .k-grid-content .k-detail-cell h3,
.k-grid .k-grid-content .k-detail-cell h4,
.k-grid .k-grid-content .k-detail-cell h5,
.k-grid .k-grid-content .k-detail-cell h6 {
	margin: 10px 0;
	clear: both;
	color: #00529B;
	font-weight: bold;
}

.k-detail-row legend {
	margin: 5px 0;
	padding: 0;
	font-size: 1.1em;
	font-style: italic;
	color: #787878;
}

.k-detail-row label {
	color: #787878;
}

/* DropDownList */
.k-popup .k-list .k-item { line-height: 1.8em; min-height: 1.8em; padding: 1px 5px; }

/* Tabstrips */
.k-tabstrip.content-box-only > .k-content { padding: 0; margin: 0; }

/* Tab Panel */
*[role=tabpanel] > legend { display: none; }

/* Toolbar */
#toolbar { padding: 5px 5px; }
#center-pane #toolbar-actions-top { display: inline-block; position: relative; top: 10px; float: right; margin: 5px 5px 0 0; }
#center-pane #toolbar-actions-top * { -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; } /* Our buttons should use border-box sizing */

/* Messaging */
.messaging { width:100%; overflow: auto; border-bottom: 1px solid #f2f2f2; margin: 5px 0 10px 0; color: #222222; padding: 0 0 5px; }
.messaging h1 { font-size: 1.5em; color: #575757; }
.messaging div.messaging-left { width:9%; float:left }
.messaging div.messaging-right { float:right; width:91%; margin: 5px 0 5px 0 }
.messaging img { width: 40px; height: 40px; }

/* New Messaging
.info, .success, .warning, .error, .validation { border: 1px solid; margin: 10px 0px; padding: 15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; }
.info { color: #00529B; background-color: #BDE5F8; background-image: url('info.png'); }
.success { color: #4F8A10; background-color: #DFF2BF; background-image:url('success.png'); }
.warning { color: #9F6000; background-color: #FEEFB3; background-image: url('warning.png'); }
.error { color: #D8000C; background-color: #FFBABA; background-image: url('error.png'); }
*/

/* Ajax Loader */
.k-loading-image { background-image: url('../images/ajax-loader.fb.gif') !important; }
.k-grid .k-grid-content .k-loading-image { background-image: url('../images/ajax-loader.squares-circle.gif') !important; }

/* Error Panel */
.k-panelbar.error-panel .k-item.error .k-link { background-color: #FFEBEB; color: black; }
.k-panelbar.error-panel .k-item.error .k-link.k-state-hover { background-color: #FF6060; color: white; }
.k-panelbar.error-panel .k-item.error.notice .k-link { background-color: #D7EFFF; color: black; }
.k-panelbar.error-panel .k-item.error.notice .k-link.k-state-hover { background-color: #5DBBFF; color: white; }

.k-panelbar.error-panel .k-item.error.validation .k-link { background-color: #FFFFDD; color: black; border-bottom: 1px solid #CCC; }
.k-panelbar.error-panel .k-item.error.validation .k-link.k-state-hover { background-color: #FFFF90; color: black; }

/* Tooltips */
.k-tooltip-validation.k-invalid-msg { display: block; position: absolute; z-index: 9998; }
.k-tooltip-validation.k-invalid-msg:hover { display: block; position: absolute; z-index: 9999; }

.k-textbox:hover:disabled { border-color: #DADADA; }

/* Popups */
.k-popup-edit-form  { overflow: visible !important; }

[aria-readonly=true], [aria-readonly=true]:hover,
input[readonly=readonly], input[readonly=true], input[readonly=readonly]:hover, input[readonly=true]:hover,
select[readonly=readonly], select[readonly=true],select[readonly=readonly]:hover, select[readonly=true]:hover { background-color: #C4E6FF !important; }

[aria-disabled=true], [aria-disabled=true]:hover, 
input[disabled=disabled], input[disabled=true], input[disabled=disabled]:hover, input[disabled=true]:hover
select[disabled=disabled], select[disabled=true], select[disabled=disabled]:hover, select[disabled=true]:hover { background-color: #EEE !important; }

tr.journal-highpriority { background-color: #FFFFCC; color: #787878; }
tr.journal-highpriority td { border-top: 1px solid #FF0000; border-bottom: 1px solid #FF0000; }
tr.journal-highpriority td:first-child { border-left: 1px solid #FF0000;}
tr.journal-highpriority td:last-child { border-right: 1px solid #FF0000;}
tr.k-state-selected div#journalLog { color: #787878; }